<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body{
        background: aliceblue;
    }
    .reset{
        margin: auto;
        width: 80%;
        text-align: center;
    }
    .reset li{
        list-style-type: none;
    }
    .reset input{
    width: 180px;
    border: 1px solid #33CCFF;
    height: 30px;
    border-radius:10px ;
    outline: none;
    }
    .btn-ret
    {
        margin-left: 30px !important;
         width: 150px !important;
        background: #1c94e0;
         color: white;
    }
</style>
<div class="reset">
<h1>Thiết lập mật khẩu mới!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Thay đổi mật khẩu" class="btn-ret">
</form>
    </div>
</body>
</html>