<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
</head>
<body>
<style>
.form_reset{
    margin: auto;
    width: 80%;
    text-align: center;
}
    body{
        background-color: aliceblue;
    }
.btn-reset
{
    margin-left: 30px !important;
    width: 150px !important;;
    border: 1px solid #33CCFF;
    background: #1c94e0;
    color: white;
    height: 30px;
    border-radius:10px ;
}
.form_reset input{
    width: 180px;
    border: 1px solid #33CCFF;
    height: 30px;
    border-radius:10px ;
    outline: none;

    }
</style>
<div class="form_reset">
<h1>Quên mật khẩu?</h1>
  <p>Nhập địa chỉ mail của bạn và chúng tôi sẽ gửi xác nhận để bạn thiết lập lai.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Gửi mã xác nhận" class="btn-reset">
  </form>
</div>
</body>
</html>