.border{
    width: 60%;
    margin: auto;
    background-color: #E7EEEF;
    height: 700px;

}
.form{
    width: 43%;
    margin-top: 50px;
    height: 500px;
    background-color: white;
    display: block;
    margin-left: 350px;
}
.form-sign-up
{
    min-height: 68%;
}


.ft-sign-up{
    width: 80%;
    height: 95%;
    margin: auto;

}
.ft-sign-up h2
{
    padding-top: 20px;

}
.username1{
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
.password1{
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
.email1 {
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
.phone1{
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 20px;
    outline:none;
}
.sex1{
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
.date1{
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 20px;
    outline:none;
}
.address1{
    width: 250px;
    height: 30px;
    border: 1px solid #33CCFF;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
.btn-sign-up input{
    width: 100px;
    height: 38px;
    border: 1px solid #1c94e0;
    border-radius: 15px;
    background-color: #1c94e0;
    color: white;
    font-weight: bold;
    margin-right: 35px;
    outline: none;
}
.list-error
{
    margin-top: 10px;
    color: red;

}
.list-error li{
    list-style-type:circle;
}
.btn-sign-up{
    margin-left: 150px;
    margin-top: 20px;
}