{% extends 'Sin/base1.html'%}
{% load static %}
    {% block content %}
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'Sin/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'Sin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'Sin/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/detail.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/style.css' %}">
<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'Sin:home'%}">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Thông tin sản phẩm</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ product.image.url}}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2 class="text-black">{{ product.name}}</h2>
            <p>{{ product.description}}</p>
            <p><strong class="text-primary h4">{{ product.cost}} đ</strong></p>
              {% if acc %}
            <form action="" method="post">
            {% csrf_token %}
              <div>{{cart.number}}</div>
            <input type="submit" value="Thêm vào giỏ" class="btn-login">
                {%  else %}
                <form action="" method="post">
            {% csrf_token %}
              <div>{{cart.number}}</div>
                </form>
        </form>
            {% endif %}
            <p></p>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Sản phẩm khác</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              {% for item in lists %}
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="{{ item.image.url}}" alt="Image placeholder" class="img-fluid", href="{% url 'Sin:detail' item.id %}">
                  </figure>
                  <div class="block-4-text p-4">

                    <h3><a href="{% url 'Sin:detail' item.id %}">{{ item.name}}</a></h3>
                    <p class="mb-0">{{ item.category }}</p>
                    <p class="text-primary font-weight-bold">{{item.cost}} đ</p>
                  </div>
                </div>
              </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>
    {% endblock%}