{% extends 'Sin/base1.html'%}
{% load static %}
    {% block content %}

<link rel="stylesheet" href="{% static 'Sin/signup.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'Sin/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'Sin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Sin/css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'Sin/css/aos.css' %}">
<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'Sin:home'%}">Trang chủ </a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Profile</strong></div>
        </div>
      </div>
    </div>
<div class="border">
    <div class="form">
        <div class="form-sign-up">
                <div class="ft-sign-up">
            <form action="{% url 'Sin:edit-profile'%}" method="get">
                {%  csrf_token %}
                <h2><b>Thông tin tài khoản</b></h2>
                <br/>
                <div class="sign-up-username">Tài khoản: &nbsp;
                    <input type="text", value="{{user.username}}", class="username1"/>
                </div>
                <div class="sign-up-email">Email: &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                    <input type="text", value="{{user.email}}", class="email1"/>
                </div>
                <div class="sign-up-sex">Giới tính: &nbsp;&nbsp; &nbsp;
                     <input type="text", value="{{user.sex}}", class="sex1"/>
                </div>
                <div class="sign-up-phone">Số ĐT: &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;
                    <input type="text", value="{{user.phone}}", class="phone1"/>
                </div>
                <div class="sign-up-address">Địa chỉ: &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;
                    <input type="text", value="{{user.address}}", class="address1"/>
                </div>
                <div class="sign-up-date">Ngày tạo: &nbsp;&nbsp;&nbsp
                    <input type="text", value="{{user.date_joined}}", class="date1"/>

                </div>
                <div class="btn-sign-up"><input type="submit" value="Cập nhật" class="btn-sign"></div>


            </form>
                </div>
                </div>
        </div>
    </div>
<script src="{% static 'Sin/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'Sin/js/jquery-ui.js' %}"></script>
  <script src="{% static 'Sin/js/popper.min.js' %}"></script>
  <script src="{% static 'Sin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Sin/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Sin/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'Sin/js/aos.js' %}"></script>

  <script src="{% static 'Sin/js/main.js' %}"></script>
<br/>
<br/>
    {% endblock %}